@{
    ViewBag.Title = "Diet Calculator";
}

<div id="root">Diet Calculator</div>

@section scripts{
    <script src="~/js/vendor.js"></script>
    <script type="text/javascript">
        self._babelPolyfill = false;    //HACK: see http://stackoverflow.com/a/36672020/1434764
    </script>
    <script src="~/js/main.js"></script>
}
