body {
    margin: 5px;
}

*{
    font-family: "Cooper Black";
}

#root {
    padding-top:60px;    
}

.footer {
    padding-bottom: 10px;
    margin: auto;
    width: 300px;
}

.centered {
    text-align: center;
}

.home-wallpaper {
    width: 100%;
    padding: 0 10%;
}

.technology-logo {
    height: 30px;
    margin-left: 5px;
}

